.red{
    color: red;
}
.blue{
    color: blue;
}
.box{
    border: 2px solid black;
    background-color: pink;
}
.don{
    /* background-color: blue; */
    color: aqua;
    background-color: rgb(255, 0, 17);
    border: 2px solid black;
}