body{
    background-color: wheat;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: red;
    line-height: 30px;
}
a{
    text-decoration: none;
    color: green;
}
button{
    background: rgb(250, 248, 248);
    color: blueviolet;
}
textarea{
    color: black;

}
span{
    text-decoration: black underline;
}